node_modules/
dist/
.DS_Store
.env
.env.local
.env.production.local
.env.development.local
*.log
.venv/
__pycache__/
.vite/

# 允许提交 .env.example 和 .env.production（模板文件）
!.env.example
!.env.production
vite.config.js.timestamp*
